<div class="login-page">
    <div class="login-form">
        <h2>Login</h2>
        <form action="/login" method="post">
            <div class="form-field">
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
            </div>
            <div class="form-field">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <input type="submit">
        </form>
        <div class="other-options-login">
            <a href="/register">Create Account</a>
            <a href="/forget-password">Forget?</a>
        </div>
    </div>
</div>