<header id="main-header">
    <div class="inner-header">
        <div class="logo-inner">
            <img src="images/cms_logo.png" alt="logo" class="header-logo">
        </div>
        <div class="header-options-inner">
            <div class="header-options">
                <div>
                    <p>
                        Username<br>
                        <a href="#">Logout</a>
                    </p>
                    
                </div>
                <img src="images/user_placeholder.png" alt="user_photo" class="user-icon-header">
            </div>
        </div>
    </div>
</header>