<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    {{!-- CSS Files Linked --}}
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/header.css"/>
    <link rel="stylesheet" href="/stylesheets/login.css"/>
    <link rel="stylesheet" href="/stylesheets/register.css"/>
    <link rel="stylesheet" href="/stylesheets/form.css"/>

  </head>
  <body>
    {{{body}}}
  </body>
</html>
